table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 20px;
  }

thead {
    background-color: gray;
}

tbody {
    background-color: lightgray;
}

body {
    font-family: 'Courier New', Courier, monospace;
    background-image: url("tables.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}